
 <!-- <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="text-center">
            <b>UPDS</b>
            <br/>
            <small>Inicia session</small>
          </h1>
          <br/>
          <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorCredentials">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Usuario no valido.
          </div>
          <form [formGroup]="f" novalidate>
            <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['email'].valid,
                'has-error': f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)}">
              <input type="email" formControlName="email" class="form-control" id="InputEmail" placeholder="Email">
              <span *ngIf="f.controls['email'].valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span *ngIf="f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">E-mail inválido.</span>
              </span>
            </div>
            <div class="form-group" [ngClass]="{'has-success': f.controls['password'].valid,
                 'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
              <input type="password" formControlName="password" class="form-control" id="InputPassword" placeholder="Password">
              <span class="text-danger" *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">Campo obligatorio.</span>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="f.invalid" (click)="onSubmit()">Iniciar session</button>
          </form>
        </div>
      </div>
    </div>
  </div>-->
 <!-- <div class="body"></div>
  <div class="grad"></div>
  <div class="header">
    <div>UPDS</div>
  </div>
  <br>
  <div class="login">
    <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorCredentials">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Usuario no valido.
    </div>
    <form [formGroup]="f" novalidate>
      <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['email'].valid,
                'has-error': f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)}">
        <input type="email" formControlName="email" class="form-control" id="InputEmail" placeholder="Email">
        <span *ngIf="f.controls['email'].valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span *ngIf="f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">E-mail inválido.</span>
              </span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['role'].valid,
                'has-error': f.controls['role'].invalid && (f.controls['role'].touched || f.controls['role'].dirty)}">
        <select type="text" class="form-control" formControlName="role" title="Seleccionar Modalidad"
                [class.form-control-danger]="f.controls['role'].invalid && f.controls['role'].touched">
          <option *ngFor="let rol of dataRol" [value]="rol.id">
            {{rol.name}}
          </option>
        </select>
        <small class="form-text error" *ngIf="f.controls['role'].hasError('required') && (f.controls['role'].touched || f.controls['role'].dirty)">
          Campo es obligatorio!
        </small>
      </div>
      <div class="form-group" [ngClass]="{'has-success': f.controls['password'].valid,
                 'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
        <input type="password" formControlName="password" class="form-control" id="InputPassword" placeholder="Password">
        <span class="text-danger" *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">Campo obligatorio.</span>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="f.invalid" (click)="onSubmit()">Iniciar session</button>
    </form>
  </div>
</div>-->
  <header>

  </header>
  <div class="login">
    <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorCredentials">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Usuario no valido.
    </div>
    <div class="photo">
    </div>
    <span>Inicia sesión</span>
    <!--<form action="" id="login-form">-->
    <form [formGroup]="f" novalidate>

      <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['email'].valid,
                'has-error': f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)}">
        <input type="email" formControlName="email" class="form-control" id="InputEmail" placeholder="Email">
        <span *ngIf="f.controls['email'].valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span *ngIf="f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">E-mail inválido.</span>
              </span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['role'].valid,
                'has-error': f.controls['role'].invalid && (f.controls['role'].touched || f.controls['role'].dirty)}">
        <select type="text" class="form-control" formControlName="role" title="Seleccionar Modalidad"
                [class.form-control-danger]="f.controls['role'].invalid && f.controls['role'].touched">
          <option *ngFor="let rol of dataRol" [value]="rol.id">
            {{rol.name}}
          </option>
        </select>
        <small class="form-text error" *ngIf="f.controls['role'].hasError('required') && (f.controls['role'].touched || f.controls['role'].dirty)">
          Campo es obligatorio!
        </small>
      </div>
      <div class="form-group" [ngClass]="{'has-success': f.controls['password'].valid,
                 'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
        <input type="password" formControlName="password" class="form-control" id="InputPassword" placeholder="Password">
        <span class="text-danger" *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">Campo obligatorio.</span>
      </div>

    <!--  <div id="u" class="form-group">
        <input id="username" spellcheck=false class="form-control" name="username" type="text" size="18" alt="login" required="">
        <span class="form-highlight"></span>
        <span class="form-bar"></span>
        <label for="username" class="float-label">Email</label>

      </div>
      <div id="p" class="form-group">
        <input id="password" class="form-control" spellcheck=false name="password" type="password" size="18" alt="login" required="">
        <span class="form-highlight"></span>
        <span class="form-bar"></span>
        <label for="password" class="float-label">Password</label>

      </div>-->

        <button type="submit" class="btn btn-default" [disabled]="f.invalid" (click)="onSubmit()">Iniciar session</button>

   <!-- </form>-->
    </form>
  </div>
  <p class="copyright">
    <span>Diseñado por <a href="#">Diego Cardozo</a>
      y Desarrollado por <a href="#" target="_blank">
        Diego Cardozo</a> | <a href="#" target="_blank">
        softdc@gmail.com</a>
    </span>
    <span>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</span> All rights reserved.
  </p>
