<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Bienvenido
      <small>Inscripciones</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Inscripciones</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-info">
          <div class="box-header">
            <div class="pull-left">
              <div class="row full-name-inputs">
                <div class="col-sm-12 form-group">
                  <ng-select [items]="dataIns"
                             bindLabel="user.persona.nombre"
                             bindValue="id"
                             placeholder="Seleccionar Estudiante"
                             (add)="mostrarReporte($event)">
                    <ng-template ng-label-tmp let-item="item">
                      {{item.user.persona.nombre}} {{item.user.persona.apellidos}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                      {{item.user.persona.nombre}} {{item.user.persona.apellidos}}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="box-body table-responsive">


            <div id="chartdiv" [style.width.%]="100" [style.height.px]="500"></div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

