<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      BIENVENIDO AL SISTEMA DE MODALIDADES DE GRADO
<!--
      <small>Version 2.0</small>
-->
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Página Principal</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <ui-carousel [infinite]="true" [fade]="true" [speed]="500" height="750px">
      <ui-carousel-item>
        <img src="assets/img/images1.jpg" alt="" draggable="false">
      </ui-carousel-item>
      <ui-carousel-item>
        <img src="https://images2.alphacoders.com/913/913304.jpg" alt="" draggable="false">
      </ui-carousel-item>
      <ui-carousel-item>
        <img src="http://www.qygjxz.com/data/out/123/5412675-imagens-hd.jpg" alt="" draggable="false">
      </ui-carousel-item>
    </ui-carousel>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
