<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      BIENVENIDO AL SISTEMA DE MODALIDADES DE GRADO
<!--
      <small>Version 2.0</small>
-->
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Página Principal</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div>
    <ngu-carousel
      [inputs]="carouselOne"
      (carouselLoad)="myfunc($event)">
      <ngu-item NguCarouselItem class="bannerStyle" *ngFor="let Tile of carouselTileItems">
        <img src="{{Tile}}" alt="" draggable="false">
      </ngu-item>

      <button NguCarouselPrev class='leftRs'>&lt;</button>
      <button NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>
    </div>
    <br>
    <br>
    <div class="content">
    <ngu-carousel
      [inputs]="carouselTile">

      <ngu-item NguCarouselItem *ngFor="let item of carouselTileItem">
        <img src="{{item}}" alt="" draggable="false">
      </ngu-item>

      <button NguCarouselPrev class='leftRs'>&lt;</button>
      <button NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>
    </div>
  </section>
  <!-- /.content -->
</div>
